<h1><%= @task[:title] %></h1>
<p><%= @task[:details] %></p>

<div class="btn-group">
<%= link_to edit_task_path, class: 'btn' do %>
  <i class="fas fa-pencil-alt"></i> Edit
<% end %>

<%= link_to tasks_path, class: 'btn' do %>
  <i class="fas fa-undo"></i> Back
<% end %>
</div>
